* { user-select: none; padding: 0; margin: 0;}

/*GRACIAS https://codepen.io/tacosontitan/pen/LYEYBxe */
.container {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #333;
	animation-name: fondo;
	animation-duration: 3s;
	animation-fill-mode: both;
	overflow: hidden;

}
.wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-image: url("../assets/wave.png");
	background-size: 1000px 100px;
	animation: wave 20s linear infinite;
}

.color-white{
	color: white;
	font-family: "Sofia", sans-serif;

}

@keyframes wave {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 1000px;
	}
}

@keyframes fondo {

	from{background-color: white;}
	to {background-color: #333;}
	
}

@keyframes typewriter{
	from{width: 0;}
	to{width: 24em;}
}
@keyframes blinkTextCursor{
	from{border-right-color: rgba(255,255,255,.75);}
	to{border-right-color: transparent;}

}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 5s steps(44) 1s 1 normal both,
              blinkTextCursor 500ms steps(44) infinite normal;
}

  